:root{
  --primary-color:#FF5100;
  --secondary-color: #3D3B40;
  --background-color: white;
  --dark-color:#000;
  --light-color:#f4f4f4e3;
  --text-color: black;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;  
}

/* Navbar */

.navbar{
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.navbutton{
  color: white;
}

.navbutton:hover{
  color: var(--primary-color);
  cursor: pointer;
}


/* footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 60px;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  color: var(--primary-color);
}

/* Forms */

.login ,
.register{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
   padding-top: 150px;
   text-align: left;
}

.card{
  border: var(--primary-color) 0.5px solid;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0px;
  font-size: 1rem;
}

.login .form-group input,
.register .form-group input,
.create .form-group input{
  font-size: 1rem;
  padding: 5px;
  width: 300px;
}

.form-group textarea{
  font-size: 1rem;
  padding: 5px;
}

.btn{
  background-color: var(--primary-color);
  color: white;
  padding: 7.5px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  margin: 10px 0px;
  text-align: center;
  width: 100%;
}

.btn:hover{
  cursor: pointer;

}

a.btn:hover{
  color: white;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.5px;
  background-color: black;
  margin: 7.5px;
}