:root{
  --primary-color:#FF5100;
  --secondary-color: #3D3B40;
  --background-color: white;
  --dark-color:#000;
  --light-color:#f4f4f4e3;
  --text-color: black;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;  
}

body{
  background-image:  url('./images/background.jpg');
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  color: var(--secondary-color);
}



/* Navbar */

.navbar{
  color: var(--primary-color);
  background-color: var(--secondary-color);
  opacity: 70%;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.navbutton{
  color: white;
}

.navbutton:hover,
.logo:hover{
  color: var(--primary-color);
  cursor: pointer;
}

.navbar .buttons{
  display: flex;
  gap: 20px;
}


/* footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 50px;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 70%;

}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  color: var(--primary-color);
}

/* Forms */

.login ,
.register{
   text-align: left;
}

.card{
  border: var(--primary-color) 0.5px solid;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0px;
  font-size: 1rem;
}

.login .form-group input,
.register .form-group input,
.create .form-group input{
  font-size: 1rem;
  padding: 5px;
  width: 300px;
}

.form-group textarea{
  font-size: 1rem;
  padding: 5px;
}

.btn{
  background-color: var(--primary-color);
  color: white;
  padding: 7.5px;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  margin: 10px 0px;
  text-align: center;
  width: 100%;
}

.btn:hover{
  cursor: pointer;

}

a.btn:hover{
  color: white;
}

.divider {
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 0.5px;
  background-color: black;
  margin: 7.5px;
}

/* Error messages */
.errors{
  border: red solid 1px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.errors h2{
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}

.errors li{
  margin-left: 30px;
}

/* Homepage */

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (2*50px));
  gap: 20px;
}

.home a{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
}

a.image_ref{
  font-size: 12px;
  color: white;
}

@media(max-width: 1400px){
  .navbar .container{
    margin: 0px 20px;
  }

}

@media(max-width: 700px){
  .logo span{
    display: none;
  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 18px;
  }

  .errors{
    padding: 10px;
  }

  .errors h2{
    font-size: 12px;
  }

  .errors li{
    font-size: 10px;
  }

}